<!DOCTYPE html>
<html lang="zh-CN" style="background: #fff;">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>登录/注册</title>
		<link href=" /js/message/img/bear.ico" rel="icon" />
		<meta name="keywords" content="">
		<meta name="description" content="">

		<link rel="stylesheet" href=" /js/fy-alert/css/alert.css"/>
		<link rel="stylesheet" href=" /js/fy-alert/css/fy-alert.css"/>
		<script src=" /js/fy-alert/js/fy-alert.js"></script>

		<script src=" /js/message/js/rem.js"></script>
		<script src=" /js/message/js/jquery.min.js" type="text/javascript"></script>
		<link rel="stylesheet" type="text/css" href=" /js/message/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href=" /js/message/css/base.css" />
		<link rel="stylesheet" type="text/css" href=" /js/message/css/page.css" />
		<link rel="stylesheet" type="text/css" href=" /js/message/css/all.css" />
		<link rel="stylesheet" type="text/css" href=" /js/message/css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href=" /js/message/css/loaders.min.css" />
		<!-- <link rel="stylesheet" type="text/css" href="css/loading.css"/> -->
		<link rel="stylesheet" type="text/css" href=" /js/message/slick/slick.css" />
		<link rel="stylesheet" type="text/css" href=" /js/message/iconfont/iconfont.css" />



	</head>

	<body style="background: #ffff;">
		<!--header star-->
		<header class="mui-bar mui-bar1 mui-bar-nav mui-bar-nav1" id="header" style="background: transparent;">
			<!-- <a class="back-btn" href="javascript:history.go(-1)">
		        <i class="iconfont icon-fanhui"></i>
		    </a> -->
			<!-- <div class="mui-title" style="color: #fff;">登录</div> -->
		</header>
		<!--header end-->

		<div class="warp clearfloat" style="margin: 0;">
			<div class="login-top clearfloat box-s">
				<div class="ge-back"><img src=" /js/message/img/login.png"></div>
				<div class="logo-imgs">
					<img src=" /js/message/img/bear.jpg">
				</div>
			</div>
		</div>
		<div class="tab-account" style="background: #fff;padding: 0;margin-top: 11%;">
			<ul id="myTab" class="nav nav-tabs login-tabs">
				<li class="active">
					<a href="#xinxi" data-toggle="tab">注册</a>
				</li>
				<li><a href="#mima" data-toggle="tab">登录</a></li>
			</ul>
			<div id="myTabContent" class="tab-content" style="background: #fff; padding: 0.4rem;">
				<div class="tab-pane fade in active" id="xinxi">
					<form role="form" action="/register" method="post">
						<div class="form-group login-group_re">
							<i class="iconfont icon-shoujihaoma"></i>
							<input type="text" class="form-control inpt-form" id="phone" name="phone" placeholder="请输入手机号">
						</div>

						<div class="form-group login-group_re">
							<i class="iconfont icon-yanzhengma2"></i>
							<input type="tel" class="form-control inpt-form" id="tel" name="code" placeholder="请输入手机号验证码">
							<a href="javascript:;" id="getCode" data-appid="2034800824" data-cbfn="callback" class="linkABlue yanzheng">获取验证码</a>
						</div>

						<div class="form-group login-group_re">
							<i class="iconfont icon-jiantou1"></i>
							<input data-toggle="user" data-placement="before" name="username"  class="form-control inpt-form"
								   type="user" placeholder="请输入用户名">
						</div>

						<div class="form-group login-group_re">
							<i class="iconfont icon-mima"></i>
							<!-- <input type="email" class="form-control " placeholder="请输入密码"> -->
							<input data-toggle="password" data-placement="before" name="password" data-message="点击显示/隐藏密码" class="form-control inpt-form"
								   type="password" placeholder="请输入密码">
						</div>

						<button type="submit" class="conf-btn login-btns">注册</button>
					</form>

				</div>
				<div class="tab-pane fade" id="mima">
					<form role="form" action="/login?target=/index"  method="post">
						<div class="form-group login-group_re">
							<i class="iconfont icon-shoujihaoma"></i>
							<input type="text" class="form-control inpt-form"  name="username" placeholder="请输入手机号">
						</div>

						<div class="form-group login-group_re">
							<i class="iconfont icon-mima"></i>
							<!-- <input type="email" class="form-control " placeholder="请输入密码"> -->
							<input data-toggle="password" data-placement="before" name="password" data-message="点击显示/隐藏密码" class="form-control inpt-form"
								   type="password" placeholder="请输入密码">
						</div>
						<div class="yi-zhang wang-mi login-wang">
							<div class="form-actions form-ji">
								<div>
									<span>
										<div style="display: inline-block;margin-left:3px;margin-top:1px;">
											<input name="form-field-checkbox" id="saveid" type="checkbox" onclick=" " style="padding-top:0px;">
										</div>
										<div style="display: inline-block;margin-top:-3px;margin-right:2px;margin-left: 2px;font-size:14px !important">
											<font>记住密码</font>
										</div>
									</span>
								</div>
							</div>
							<a href="findWord.html">忘记密码？</a>
						</div>
						<a href="index.html">
							<button type="submit" class="conf-btn login-btns">登录</button>
						</a>
					</form>
				</div>
			</div>
		</div>

		<script type="text/javascript" src=" /js/message/js/jquery.min.js"></script>
		<script type="text/javascript" src=" /js/message/js/bootstrap.min.js"></script>
		<!-- 密码显示隐藏 -->
		<script src=" /js/message/js/bootstrap-show-password.js"></script>

		<script type="text/javascript" src=" /js/message/js/mui.min.js"></script>
		<script type="text/javascript" src=" /js/message/js/hmt.js"></script>
		<script type="text/javascript" src=" /js/message/slick/slick.js"></script>
		<script type="text/javascript" src=" /js/message/js/swiper.min.js"></script>
	</body>

</html>


<script>
	$(function () {
		methodOne();
	})

	function checkPhone(val){
		if(val==''){
			return false
		}
		var rule = /^[1][3,4,5,7,8][0-9]{9}$/;
		return rule.test(val);
	}

	function methodOne() {
		$("#getCode").click(function () {
			var phone = $('#phone').val();
			if(checkPhone(phone) == false){
				fyAlert.msg('手机号格式错误',{icon:2,animateType:2});
			}else {

				$.ajax({
					url: '/send',
					type: 'post',
					data:  {'phone': phone},
					// contentType: 'application/json;charset=UTF-8', //请求数据类型
					dataType:'json',  //返回数据类型 如果后端返回一个消息对象 这里为json
					success:function (data) {
						// var result = JSON.stringify(data);
						if(data.code != -1){
							if(data.code == 0){
								fyAlert.msg('发送成功',{icon:1,animateType:1});
							}else{
								fyAlert.msg('发送失败',{icon:3,animateType:3});
							}
						}else {
							fyAlert.msg('当前手机号已被注册',{icon:4,animateType:4});
						}


					}
				})
			}

		})
	}


</script>